<template>
  <div class="MainView">
    <Header></Header>
    <Discounts></Discounts>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import Discounts from '@/components/Discounts.vue'

export default {
  name: 'MainView',
  components: {
    Header,
    Footer,
    Discounts
  }
}
</script>

<style scoped lang="scss"> 


</style>