<template>
    <section>
    <div class="container">
        <div class="section-header">
            <h2 class="sales-label">Распродажи</h2>
            <a class="view-all" href="#Sales">Смотреть всё</a>
        </div>
        <div class="store-items">
            <article class="store-item" v-for="(game, id) in games" :key="id">
                <img :src="game.img" :alt="game.name">
                <div class="item-info">
                    <h3 class="item-title">{{ game.name }}</h3>
                    <span class="price">{{ game.price }} &#8381;</span>
                </div>
            </article>
        </div> 
    </div>
</section>
</template>

<script>
export default {
  name: 'Discounts',
  computed:{
      getGames(){
          return this.$store.getters.getGames
      },
      getSearch(){
        return this.$store.getters.getSearch
      },
      games(){
          return this.getGames.filter(item => {
              return item.name.toUpperCase().indexOf(this.getSearch.toUpperCase()) !== -1})
      }
  }
}
</script>

<style scoped lang="scss">

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  justify-content: space-between;
}
h2 {
  font-weight: bold;
  font-size: 2.08rem;
  color: #eceff4;
}
.view-all {
  font-size: 1.25rem;
  opacity: 0.7;
  color: #4825d2;
}
.store-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.store-item {
  width: 44.79rem;
  height: 20.67rem;
  position: relative;
  margin-bottom: 2.08rem;
}
.store-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-info {
  height: 0rem;
  overflow: hidden;
  transition: all 0.2s ease-out;

  position: absolute;
  text-align: right;
  right: 0px;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(55px);
  border-top-left-radius: 70px;
}
.store-item:hover .item-info {
  height: 4.4rem;
  padding: 2.5rem 0.94rem 1.56rem 1.56rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #eceff4;
}
.price {
  font-size: 1.25rem;
  color: #eceff4;
}

</style>
