<template>
    <footer>
        <div class="container">
            <div class="footer-inner">  
                <span class="footer-inner-information">Game Store 2022</span>
                <span class="footer-inner-information">© Все права защищены</span>
                <a class="footer-inner-information" href="#UserLicense">Пользовательское соглашение</a>
            </div> 
        </div>
	  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped lang="scss">

/* Footer */

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 3rem 0;
  }
  .footer-inner-information {
  font-weight: 600;
  font-size: 0.83rem;
  color: #fff;
  }
</style>
