<template>
    <header>
        <div class="container">
            <div class="header flex">
                <div class="flex">
                    <a class="logo flex" href="#main">
                        <svg class="logo_img" width="46" height="34" viewBox="0 0 46 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M44.2934 15.5045C42.305 6.5148 39.3125 1.71667 34.8734 0.406046C33.9403 0.132341 32.9724 -0.00439891 32 0.000107866C30.7146 0.000107866 29.5953 0.313233 28.4112 0.645108C26.9843 1.04542 25.3634 1.50011 23 1.50011C20.6365 1.50011 19.0146 1.04636 17.585 0.646045C16.4 0.313233 15.2815 0.000107866 14 0.000107866C12.9944 -0.00337878 11.9933 0.132926 11.0253 0.405108C6.60964 1.71011 3.61901 6.50636 1.60151 15.4989C-0.567864 25.1757 0.499948 31.2854 4.59589 32.7029C5.15734 32.9008 5.74808 33.0029 6.34339 33.0048C9.14933 33.0048 11.3993 30.6676 12.9368 28.7542C14.674 26.5885 16.7075 25.4898 23 25.4898C28.6203 25.4898 30.9462 26.252 32.9553 28.7542C34.2181 30.3273 35.4115 31.4279 36.6021 32.1207C38.1856 33.0414 39.7681 33.2457 41.3046 32.7179C43.7253 31.892 45.1128 29.7085 45.4296 26.2267C45.6706 23.5567 45.2993 20.0495 44.2934 15.5045ZM18.5 15.0001H15.5V18.0001C15.5 18.3979 15.3419 18.7795 15.0606 19.0608C14.7793 19.3421 14.3978 19.5001 14 19.5001C13.6021 19.5001 13.2206 19.3421 12.9393 19.0608C12.658 18.7795 12.5 18.3979 12.5 18.0001V15.0001H9.49995C9.10213 15.0001 8.72059 14.8421 8.43929 14.5608C8.15799 14.2795 7.99995 13.8979 7.99995 13.5001C7.99995 13.1023 8.15799 12.7208 8.43929 12.4394C8.72059 12.1581 9.10213 12.0001 9.49995 12.0001H12.5V9.00011C12.5 8.60228 12.658 8.22075 12.9393 7.93945C13.2206 7.65814 13.6021 7.50011 14 7.50011C14.3978 7.50011 14.7793 7.65814 15.0606 7.93945C15.3419 8.22075 15.5 8.60228 15.5 9.00011V12.0001H18.5C18.8978 12.0001 19.2793 12.1581 19.5606 12.4394C19.8419 12.7208 20 13.1023 20 13.5001C20 13.8979 19.8419 14.2795 19.5606 14.5608C19.2793 14.8421 18.8978 15.0001 18.5 15.0001ZM26.375 15.3751C26.0041 15.3751 25.6416 15.2651 25.3333 15.0591C25.0249 14.8531 24.7846 14.5603 24.6427 14.2176C24.5008 13.875 24.4636 13.498 24.536 13.1343C24.6083 12.7706 24.7869 12.4365 25.0491 12.1743C25.3113 11.9121 25.6454 11.7335 26.0092 11.6611C26.3729 11.5888 26.7499 11.6259 27.0925 11.7678C27.4351 11.9097 27.7279 12.1501 27.934 12.4584C28.14 12.7668 28.25 13.1293 28.25 13.5001C28.25 13.9974 28.0524 14.4743 27.7008 14.8259C27.3491 15.1776 26.8722 15.3751 26.375 15.3751ZM30.5 19.5001C30.1289 19.5001 29.7662 19.39 29.4578 19.1838C29.1493 18.9776 28.909 18.6844 28.7672 18.3416C28.6255 17.9987 28.5886 17.6214 28.6613 17.2576C28.7341 16.8937 28.9131 16.5597 29.1758 16.2976C29.4385 16.0356 29.773 15.8574 30.137 15.7856C30.5011 15.7137 30.8782 15.7516 31.2207 15.8942C31.5633 16.0368 31.8558 16.2779 32.0612 16.5868C32.2667 16.8958 32.3759 17.2588 32.375 17.6298C32.3737 18.1263 32.1756 18.602 31.8241 18.9526C31.4726 19.3032 30.9964 19.5001 30.5 19.5001ZM30.5 11.2501C30.1291 11.2501 29.7666 11.1401 29.4583 10.9341C29.1499 10.7281 28.9096 10.4353 28.7677 10.0926C28.6258 9.75003 28.5886 9.37303 28.661 9.00931C28.7333 8.6456 28.9119 8.31151 29.1741 8.04928C29.4364 7.78706 29.7704 7.60848 30.1342 7.53614C30.4979 7.46379 30.8749 7.50092 31.2175 7.64284C31.5601 7.78475 31.8529 8.02507 32.059 8.33341C32.265 8.64176 32.375 9.00427 32.375 9.37511C32.375 9.87239 32.1774 10.3493 31.8258 10.7009C31.4741 11.0526 30.9972 11.2501 30.5 11.2501ZM34.625 15.3751C34.2541 15.3751 33.8916 15.2651 33.5833 15.0591C33.2749 14.8531 33.0346 14.5603 32.8927 14.2176C32.7508 13.875 32.7136 13.498 32.786 13.1343C32.8583 12.7706 33.0369 12.4365 33.2991 12.1743C33.5614 11.9121 33.8954 11.7335 34.2592 11.6611C34.6229 11.5888 34.9999 11.6259 35.3425 11.7678C35.6851 11.9097 35.9779 12.1501 36.184 12.4584C36.39 12.7668 36.5 13.1293 36.5 13.5001C36.5 13.9974 36.3024 14.4743 35.9508 14.8259C35.5992 15.1776 35.1222 15.3751 34.625 15.3751Z" fill="url(#paint0_linear_1_98)"/>
                            <defs>
                            <linearGradient id="paint0_linear_1_98" x1="17.4998" y1="-3" x2="23.0019" y2="33.0048" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#F15C3C"/>
                            <stop offset="0.796875" stop-color="#4825D2"/>
                            </linearGradient>
                            </defs>
                        </svg>
                        <span class="logo_text">Game Store</span>
                    </a>
                    <input class="search_bar menu-items-font" placeholder="Найти игру" type="text" v-model="search" @input="setSearch">
                </div>
                <div class="nav-user-exit flex">
                    <nav class="nav">
                        <router-link class="menu-item" active-class="link-active" to="/">Игры</router-link>
                        <router-link class="menu-item" active-class="link-active" to="/News">Новости</router-link>
                        <router-link class="menu-item" active-class="link-active" to="/NewReleases">Последние релизы</router-link>
                        <router-link class="menu-item" active-class="link-active" to="/Library">Библиотека</router-link>
                    </nav>
                    <a href="#userprofile">
                        <img class = "useravatar" src="@/assets/img/User.png" alt="useravatar">
                    </a>
                    <a class="exit flex" href="#exit">
                        <div class="exit_content flex">
                            <svg width="39" height="41" viewBox="0 0 39 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="exit-icon" d="M30.3631 37.2822C30.7869 37.2822 31.1934 37.1036 31.4931 36.7858C31.7928 36.468 31.9612 36.037 31.9612 35.5875V5.08404C31.9612 4.6346 31.7928 4.20356 31.4931 3.88575C31.1934 3.56795 30.7869 3.3894 30.3631 3.3894H7.99012C7.56629 3.3894 7.15981 3.56795 6.86012 3.88575C6.56042 4.20356 6.39205 4.6346 6.39205 5.08404V10.168H9.58819V6.77868H28.765V33.8929H9.58819V30.5036H6.39205V35.5875C6.39205 36.037 6.56042 36.468 6.86012 36.7858C7.15981 37.1036 7.56629 37.2822 7.99012 37.2822H30.3631ZM9.58819 27.1143V22.0304H20.7747V18.6411H9.58819V13.5572L1.59784 20.3358L9.58819 27.1143Z" fill="white" fill-opacity="0.5"/>
                            </svg>
                            <span>Выход</span>
                        </div>
                    </a>
                </div>
                <div class="menu-hamburger">
                    <img class ="hamburger" src="@/assets/img/header_menu_hamburger.png" alt="menu">
                </div>
            </div>
        </div>

	  </header>
</template>

<script>
export default {
  name: 'Header',
  data(){
      return{
          search: ''
      }
  },
  methods:{
      setSearch(){
          this.$store.commit('setSearch', this.search);
      }
  },
}
</script>

<style scoped lang="scss">
/* Header */
header{
  width: 100%;
  background: #171a21;
  box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07),
  0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198),
  0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275),
  0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035),
  0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725),
  0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
  transform: matrix(1, 0, 0, 1, 0, 0);
  align-items: center;
}
.header {
justify-content: space-between;
padding: 1.063rem 0 1.0628rem 0;
}
.logo {
justify-content: space-between;
}
.logo_img {
width: 2.91rem;
margin-right: 0.83rem;
}
.logo_text {
width: 3.3rem;
font-size: 0.83rem;
font-weight: 800;
text-transform: uppercase;
margin-right: 1.04rem;
color: #ffffff;
}
.search_bar {
background: #0d1017;
color: #eceff4;
border: none;
padding: 0.83rem;
border-radius: 5px;
font-size: 0.74rem;
width: 15.5rem;
}
.search_bar::placeholder {
color: rgba(255, 255, 255, 0.2);
font-family: "Manrope", sans-serif;
}
.search_bar:focus {
outline: none;
}
.nav {
margin-right: 3.07rem;
}
.nav a + a {
margin-left: 3rem;
}
.menu-item {
color: rgba(236, 239, 244, 0.4);

transition-property: all;
transition-duration: 0.4s;
transition-timing-function: ease-out;
}
.link-active{
    color: #eceff4;
    opacity: 1;

}
.menu-item:hover {
color: #eceff4;
}
.useravatar {
width: 2.91rem;
margin-right: 0.83rem;
}
.exit {
border: 0.5px solid rgba(255, 255, 255, 0.2);
box-sizing: border-box;
border-radius: 5px;

transition-property: all;
transition-duration: 0.4s;
transition-timing-function: ease-out;
}
.exit_content {
width: 5.83rem;
height: 2.92rem;
padding-left: 0.83rem;
color: rgba(236, 239, 244, 0.4);
}
.exit_content svg {
width: 1.25rem;
margin-right: 0.4rem;
}
.exit:hover {
border: 0.5px solid #eceff4;
}
.exit:hover #exit-icon {
fill: #eceff4;
fill-opacity: 1;
}
.exit:hover span {
color: #eceff4;
}
.menu-hamburger {
display: none;
}
</style>
