@import "@/assets/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body,
html {
  width: 100%;
  height: 100%;
  font-family: Manrope;
}
html {
  font-size: 1vw;
}

.flex {
  display: flex;
  align-items: center;
}
.container {
  width: 92.45rem;
  margin: 0 auto;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
section {
  background-color: #171a21;
  align-items: center;
  flex: 1 0 auto;
  min-height: 90vh;
}
footer {
  background-color: #0d1017;
  bottom: 0;
  width: 100%;
}